/* navbar */

body {
  background-color: #f6f6f6;
}

.my-nav {
  position: fixed;
  top: 0;
  /* mobile-header z-index 5 */
  /* my-nav z-index 3 */
  /* translation z-index 3 */
  /* section6 form  z-index2 */
  z-index: 3;
  background-color: transparent;
}

.my-nav a {
  color: black;
  text-decoration: underline;
  font-family: HelveticaNeue;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.my-nav .logo {
  font-size: 1rem;
}

.translation {
  /* mobile-header z-index 5 */
  /* my-nav z-index 3 */
  /* translation z-index 3 */
  /* section6 form  z-index2 */
  z-index: 3;
}

/* .header-img {
	width: 100%;
	height: 100%;
	overflow: hidden;
} */

footer {
  height: 100%;
  background-color: black;
}

footer img {
  margin-bottom: 20px;
}

/* 側邊滑動效果 */
.offcanvas-collapse {
  position: fixed;
  top: 0px;
  /* Height of navbar */
  bottom: 0;
  left: 100%;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-y: auto;
  visibility: hidden;
  background-color: #f6f6f6;
  box-shadow: -5px 2px 12px 0 rgba(0, 0, 0, 0.1);
  transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.offcanvas-collapse.open {
  visibility: visible;
  -webkit-transform: translateX(-80%);
  transform: translateX(-80%);
}

html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
}

.desktop-header {
  display: inline-block;
}

.mobile-header {
  display: none;
  /* mobile-header z-index 5 */
  /* my-nav z-index 3 */
  /* translation z-index 3 */
  /* section6 form  z-index2 */
  z-index: 5
}

.header-navbar {
  display: inline-block;
  width: 100%;
  min-height: 50px;
  background-color: #f6f6f6;
  color: #000000;
  padding: 15px 50px;
}

.header-navbar .text-translation {
  width: 100%;
  font-size: 20px;
  font-family: HelveticaNeue;
  font-weight: bold;
}

#schedule {
  z-index: 100;
}

/* section2 - banner */
#section2 .section2-content .section2-img-desktopTablet {
  background-repeat: no-repeat;
}

#section2 .section2-content .section2-img-mobile {
  display: none;
}

/* section3 - DAR intro */
#section3-desktopTablet {
  display: block;
  padding-right: 45px;
}

#section3-mobile {
  display: none;
}

#section3-desktopTablet h5,
#section3-mobile h5 {
  width: 320px;
  font-family: PingFangTC;
  font-size: 22px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0b0b0b;
}

#section3-desktopTablet p,
#section3-mobile p {
  font-family: PingFangTC;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0b0b0b;
}

/* Schedule and Contact */
#scheduleContact h2 {
  font-family: HelveticaNeue;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0b0b0b;
  text-decoration: underline;
}

#scheduleContact .contact {
  font-family: HelveticaNeue;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #df732b;
  text-decoration: underline;
}

/* section3 - Schedule */
#mobileSchedule {
  font-family: HelveticaNeue;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0b0b0b;
}

.icon-close-schedule {
  position: absolute;
  z-index: 101;
}

.mobile-schedule-content .daily {
  width: 100%;
  font-size: 18px;
  padding: 0px;
  text-decoration: underline;
}

.mobile-schedule-content .onPage {
  color: #df732b;
}

#mobileSchedule .download-link {
  position: absolute;
  font-size: 22px;
  color: #df732b;
  text-decoration: underline;
}

/* section4 - photo */
#section4 .gallery-desktopTablet {
  padding-right: 45px;
  padding-left: 20px;
}

#section4 h2 {
  font-family: HelveticaNeue;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0b0b0b
}

#section4 h3 {
  font-family: HelveticaNeue;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0b0b0b;
  text-decoration: underline;
}

#section4 .gallery-mobile {
  display: none;
}

/* section5 - Video */
#section5 h2 {
  width: 176px;
  font-family: HelveticaNeue;
  font-size: 34px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0b0b0b;
}

#section5 .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

#section5 .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* section6 - Form */
#section6 {
  /* mobile-header z-index 5 */
  /* my-nav z-index 3 */
  /* translation z-index 3 */
  /* section6 form  z-index2 */
  z-index: 2;
}

#section6 .form-header {
  font-family: HelveticaNeue;
  font-size: 34px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0b0b0b;
}

#section6 .form-process .form-process-text {
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0b0b0b;
}

/* section6 - FormInput */
/* 移除 Select 預設效果 */
#section6 select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
#section6 select::-ms-expand {
  display: none;
}

/* Desktop */
@media screen and (min-width:992px) {
  .desktop-header {
    margin-top: 50px;
  }

  /* section1 - The Opportunity */
  #section1 {
    margin-top: 130px;
  }

  #section1 h2 {
    width: 500px;
    font-size: 50px;
  }

  /* section2 - Banner */
  #section2 {
    margin-top: 200px;
  }

  #section2 .section2-content .section2-img-desktopTablet {
    min-width: 1024px;
    min-height: 450px;
    width: 100%;
    background-size: cover;
  }

  /* section3 - DAR intro */
  #section3-desktopTablet {
    margin-top: 50px;
    margin-bottom: 30px;
    padding-right: 42px;
    padding-left: 301px;
  }

  #section3-desktopTablet .dae-intro {
    margin-bottom: 80px;
  }

  #section3-desktopTablet img {
    position: relative;
    min-width: 300px;
    min-height: 253px;
    width: 100%;
    height: 100%;
  }

  #section3-desktopTablet .dae-intro-img-2 {
    padding-left: 50px;
  }

  #section3-desktopTablet h5 {
    position: absolute;
    top: -140px;
    width: 320px;
    height: 60px;
    font-size: 22px;
  }

  #section3-desktopTablet p {
    position: absolute;
    top: -70px;
    width: 320px;
    font-size: 18px;
    line-height: 1.39;
    letter-spacing: -0.3px;
  }

  #section3-desktopTablet .dae-intro-header-1,
  #section3-desktopTablet .dae-intro-header-3,
  #section3-desktopTablet .dae-intro-content-1,
  #section3-desktopTablet .dae-intro-content-3 {
    left: 30px;
  }

  #section3-desktopTablet .dae-intro-header-2,
  #section3-desktopTablet .dae-intro-content-2 {
    left: 0px;
    padding-right: 18px;
  }

  /* Schedule and Contact */
  #scheduleContact {
    margin-top: 100px;
    margin-bottom: 80px;
    padding-right: 60px;
    text-align: right;
  }

  #scheduleContact h2 {
    width: 222px;
    height: 60px;
    font-size: 50px;
    z-index: 100;
  }

  #scheduleContact .contact {
    width: 222px;
    height: 60px;
    font-size: 50px;
  }

  /* section3 - Schedule info. */
  .icon-close-schedule {
    top: 30px;
    left: 750px;
    padding-right: 42px;
  }

  .icon-close-schedule img {
    width: 50px;
    height: 50px;
  }

  .mobile-schedule-content {
    margin-top: 60px;
    padding: 0px 80px 0px 42px;
  }

  .mobile-schedule-content h2 {
    width: 100%;
    margin-bottom: 22px;
    font-size: 50px;
  }

  .mobile-schedule-content p {
    width: 100%;
    margin-bottom: 32px;
    font-size: 18px;
  }

  .schedule-detail {
    position: relative;
    margin-top: 16px;
    padding: 0px 80px 0px 42px;
    font-size: 20px;
  }

  #mobileSchedule .download-link {
    top: 0px;
    left: -30px;
  }

  /* section4 - photo */

  #section4 .section4-header {
    padding: 0px 17px;
    min-width: 700px;
    width: 100%;
  }

  #section4 .section4-header h2 {
    max-width: 176px;
    font-size: 34px;
    width: 100%;
  }

  #section4 .section4-header h3 {
    min-width: 500px;
    font-size: 22px;
    text-align: right;
  }

  #section4 .gallery-desktopTablet-photo {
    min-width: 489px;
    width: 100%;
  }

  #section4 .gallery-desktopTablet-header {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  #section4 .gallery-desktopTablet-photo-1 {
    min-width: 460px;
    min-height: 280px;
    max-height: 550px;
    width: 100%;
  }

  #section4 .gallery-desktopTablet-photo-2 {
    min-width: 220px;
    min-height: 280px;
    max-height: 550px;
    width: 100%;
  }

  #section4 .gallery-desktopTablet-photo-3 {
    min-width: 220px;
    min-height: 140px;
    width: 100%;
    height: 100%;
  }

  /* Section5 Video */
  #section5 {
    margin-top: 32px;
    padding-right: 50px;
    padding-left: 300px;
  }

  #section5 h2 {
    width: 100%;
    font-size: 50px;
    margin-bottom: 30px;
  }

  /* Section6 - Form */
  #section6 {
    margin-top: 125px;
    padding: 0px 50px 0px 70px;
    margin-bottom: 80px;
  }

  #section6 .form-header {
    padding: 0px 165px 0px 0px;
    margin-bottom: 36px;
    min-width: 340px;
    width: 100%;
  }

  #section6 .form-process {
    padding: 30px 0px 0px 0px;
    display: inline-block;
  }

  #section6 .form-process img {
    width: 35px;
    height: 35px;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 50px;
  }

  #section6 .form-process .form-process-text {
    width: 132px;
    font-size: 18px;
    margin-bottom: 50px;
  }

  /* Section6 - formInput */
  #section6 .form-input {
    display: inline-block;
    padding: 0px;
    min-width: 460px;
    width: 100%;
  }

  /* Section6 - FormInput */
  #section6 .form-label-style {
    padding: 9px 0px 9px 12px;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0b0b0b;
  }

  #section6 .form-input-style {
    border: 0 none;
    background-color: #f6f6f6;
    border-radius: 0px;
    width: 220px;
    width: 100%;
    padding: 9px 21px 9px 12px;
    border-bottom: 2px #0b0b0b solid;
    margin-bottom: 7px;
    position: relative;
  }

  #section6 .form-input-select-arrowDown {
    position: absolute;
    right: 25px;
    bottom: 15px;
  }

  #section6 .form-textarea-style {
    border: 0 none;
    background-color: #f6f6f6;
    width: 450px;
    width: 100%;
    height: 141px;
    border-radius: 4px;
    border: 2px #0b0b0b solid;
    padding: 6px 22px 9px 12px;
    margin-top: 30px;
  }

  #section6 #form-5 .form-submit-content {
    width: 100%;
    margin-top: 21px;
    text-align: right;
    padding-right: 24px;
  }

  #section6 #form-5 .submit {
    border: 0 none;
    background-color: #f6f6f6;
    border-bottom: 2px #0b0b0b solid;
    font-family: HelveticaNeue;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0b0b0b;
  }

  #section6 #form-5 .form-submit-success-content {
    width: 100%;
    margin-top: 15px;
    text-align: center;
  }

  #section6 #form-5 .form-submit-success {
    font-family: HelveticaNeue;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #df732b;
  }

}

/* Tablet */
@media screen and (min-width:768px) and (max-width:991.98px) {
  .my-nav a {
    font-size: 34px;
  }

  .desktop-header {
    margin-top: 15px;
    padding-top: 0px;
  }

  /* section1 - The Opportunity */
  #section1 {
    margin-top: 180px;
    margin-bottom: 74px;
  }

  #section1 h2 {
    padding-right: 46px;
    width: 420px;
    font-size: 50px;
  }

  /* section2 - Banner */
  #section2 .section2-content .section2-img-desktopTablet {
    min-width: 767px;
    min-height: 337px;
    width: 100%;
    background-size: cover;
  }

  /* section3 - DAR intro */
  #section3-desktopTablet {
    margin-top: 50px;
    padding-right: 46px;
    padding-left: 222px;
  }

  #section3-desktopTablet .dae-intro {
    margin-bottom: 80px;
  }

  #section3-desktopTablet img {
    position: relative;
    min-width: 200px;
    min-height: 169px;
    width: 100%;
    height: 100%;
  }

  #section3-desktopTablet .dae-intro-img-2 {
    padding-left: 10px;
  }

  #section3-desktopTablet h5 {
    position: absolute;
    top: -100px;
    width: 260px;
    font-size: 18px;
  }

  #section3-desktopTablet p {
    position: absolute;
    top: -30px;
    width: 260px;
    font-size: 14px;
  }

  #section3-desktopTablet .dae-intro-header-1,
  #section3-desktopTablet .dae-intro-header-3,
  #section3-desktopTablet .dae-intro-content-1,
  #section3-desktopTablet .dae-intro-content-3 {
    left: 30px;

  }

  #section3-desktopTablet .dae-intro-header-2,
  #section3-desktopTablet .dae-intro-content-2 {
    left: 0px;
    padding-left: 18px;
  }

  /* Schedule and Contact */
  #scheduleContact {
    margin-top: 100px;
    margin-bottom: 80px;
    padding-right: 60px;
    text-align: right;
  }

  #scheduleContact h2 {
    width: 222px;
    height: 60px;
    font-size: 50px;
    z-index: 100;
  }

  #scheduleContact .contact {
    width: 222px;
    height: 60px;
    font-size: 50px;
  }

  /* section3 - Schedule info. */
  .icon-close-schedule {
    top: 25px;
    left: 550px;
    padding-right: 34px;
    font-size: 30px;
  }

  .icon-close-schedule img {
    width: 40px;
    height: 40px;
  }

  .mobile-schedule-content {
    margin-top: 72px;
    padding: 0px 46px 0px 44px;
  }

  .mobile-schedule-content h2 {
    width: 100%;
    margin-bottom: 9px;
    font-size: 50px;
  }

  .mobile-schedule-content p {
    width: 100%;
    margin-bottom: 21px;
    font-size: 18px;
  }

  .schedule-detail {
    margin-top: 16px;
    padding: 0px 80px 0px 44px;
  }

  #mobileSchedule .download-link {
    top: 0px;
    left: -40px;
  }

  /* section4 - photo */

  #section4 {
    padding-right: 47px;
  }

  #section4 .section4-header {
    padding: 0px 17px;
    min-width: 526px;
    width: 100%;
  }

  #section4 .section4-header h2 {
    max-width: 176px;
    font-size: 34px;
    width: 100%;
  }

  #section4 .section4-header h3 {
    min-width: 250px;
    font-size: 22px;
    text-align: right;
  }

  #section4 .gallery-desktopTablet-photo {
    min-width: 489px;
    width: 100%;
  }

  #section4 .gallery-desktopTablet-header {
    margin-top: 35px;
    margin-bottom: 20px;
  }

  #section4 .gallery-desktopTablet-photo-1 {
    min-width: 315px;
    max-height: 192px;
    width: 100%;
  }

  #section4 .gallery-desktopTablet-photo-2 {
    min-width: 150px;
    max-height: 192px;
    width: 100%;
  }

  #section4 .gallery-desktopTablet-photo-3 {
    min-width: 151px;
    min-height: 96px;
    width: 100%;
    height: 100%;
  }

  /* section5 - Video */
  #section5 {
    margin-top: 32px;
    padding-right: 50px;
    padding-left: 315px;
  }

  #section5 h2 {
    width: 100%;
    font-size: 50px;
    margin-bottom: 30px;
  }

  /* Section6 - Form */
  #section6 {
    margin-top: 50px;
    padding: 0px 50px 0px 300px;
    margin-bottom: 50px;
  }

  #section6 .form-header {
    width: 341px;
    margin-bottom: 44px;
  }

  #section6 .form-process {
    margin: 0px 15px 40px 15px;
  }

  #section6 .form-process img {
    width: 30px;
    height: 30px;
    vertical-align: top;
    margin-right: 20px;
  }

  #section6 .form-process .form-process-1,
  #section6 .form-process .form-process-2 {
    margin-bottom: 35px;
  }

  #section6 .form-process .form-process-text {
    width: 132px;
    font-size: 18px;
  }

  /* Section6 - FormInput */
  #section6 .form-label-style {
    padding: 9px 0px 9px 12px;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0b0b0b;
  }

  #section6 .form-input-style {
    border: 0 none;
    background-color: #f6f6f6;
    border-radius: 0px;
    width: 341px;
    width: 100%;
    padding: 9px 21px 9px 12px;
    border-bottom: 2px #0b0b0b solid;
    margin-bottom: 7px;
    position: relative;
  }

  #section6 .form-input-select-arrowDown {
    position: absolute;
    right: 25px;
    bottom: 15px;
  }

  #section6 .form-textarea-style {
    border: 0 none;
    background-color: #f6f6f6;
    width: 342px;
    width: 100%;
    height: 141px;
    border-radius: 4px;
    border: 2px #0b0b0b solid;
    padding: 6px 22px 9px 12px;
    margin-top: 30px;
  }

  #section6 #form-5 .form-submit-content {
    width: 100%;
    margin-top: 21px;
    text-align: right;
    padding-right: 24px;
  }

  #section6 #form-5 .submit {
    border: 0 none;
    background-color: #f6f6f6;
    border-bottom: 2px #0b0b0b solid;
    font-family: HelveticaNeue;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0b0b0b;
  }

  #section6 #form-5 .form-submit-success-content {
    width: 100%;
    margin-top: 15px;
    text-align: center;
  }

  #section6 #form-5 .form-submit-success {
    font-family: HelveticaNeue;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #df732b;
  }

}

/* Mobile Device */
@media screen and (max-width: 767.98px) {
  body {
    min-width: 375px;
  }

  .header-navbar {
    display: none
  }

  .desktop-header {
    display: none;
  }

  .mobile-header {
    display: inline-block;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .icon-open {
    font-size: 24px;
    line-height: 50px;
    font-weight: bold;
  }

  .icon-close-header {
    text-align: right;
    margin-right: 75px;
    font-size: 25px;
    font-weight: bold;
  }

  .mobile-header-content {
    margin-top: 50px;
    margin-bottom: 25px
  }

  .mobile-header-content a {
    border-bottom: #000000 2px solid;
    text-decoration: none;
    font-family: HelveticaNeue;
    font-size: 34px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    height: 40px;
    line-height: 40px;
    letter-spacing: normal;
    color: #0b0b0b;
  }

  .mobile-header-content .text-translation {
    font-size: 20px;
    font-family: HelveticaNeue;
    font-weight: bold;
  }

  /* section1 - The Opportunity */
  #section1 {
    margin-top: 160px;
    text-align: center;
  }

  #section1 h2 {
    font-size: 34px;
    width: 100%;
  }

  /* section2 - banner */
  #section2 {
    margin-top: 80px;
  }

  #section2 .section2-content .section2-img-desktopTablet {
    display: none;
  }

  #section2 .section2-content .section2-img-mobile {
    display: block;
    background-repeat: no-repeat;
    min-width: 374px;
    min-height: 337px;
    width: 100%;
    background-size: cover;
  }

  /* section3 - DAR intro */
  #section3-desktopTablet {
    display: none;
  }

  #section3-mobile {
    display: block;
  }

  #section3-mobile {
    margin-top: 126px;
    text-align: center;
  }

  #section3-mobile img {
    margin-bottom: 18px;
    width: 200px;
    height: 169px;
  }

  #section3-mobile .dae-intro h5 {
    width: 100%;
    font-size: 18px;

  }

  #section3-mobile .dae-intro .dae-intro-header-1 {
    padding: 0px 29px;
  }

  #section3-mobile .dae-intro .dae-intro-header-2 {
    padding: 0px 45px;
  }

  #section3-mobile .dae-intro .dae-intro-header-3 {
    padding: 0px 67px;
  }

  #section3-mobile .dae-intro p {
    width: 100%;
    font-size: 14px;
    margin-bottom: 40px;
    padding: 0px 40px;
  }

  /* Schedule and Contact */
  #scheduleContact {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
  }

  #scheduleContact h2 {
    width: 100px;
    height: 26px;
    font-size: 22px;
    z-index: 1;
  }

  #scheduleContact .contact {
    width: 100px;
    height: 26px;
    font-size: 22px;
  }

  /* section3 - Schedule info. */

  .mobile-schedule.open {
    visibility: visible;
    -webkit-transform: translateX(-80%);
    transform: translateX(-80%);
  }

  .icon-close-schedule {
    top: 20px;
    right: 25%;
  }

  .icon-close-schedule img {
    width: 24px;
    height: 24px;
  }

  .mobile-schedule-content {
    margin-top: 63px;
    padding: 0px 15px 0px 10px;
  }

  .mobile-schedule-content h2 {
    width: 100%;
    margin-bottom: 13px;
    font-size: 22px;
  }

  .mobile-schedule-content p {
    width: 100%;
    margin-bottom: 28px;
    font-size: 18px;
  }

  .schedule-detail {
    margin-top: 16px;
    padding: 0px 30px 0px 10px;
  }

  #mobileSchedule .download-link {
    top: 27px;
    right: 30%;
  }

  /* section4 - photo */

  #section4 {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  #section4 .section4-header {
    padding: 0px 17px;
    min-width: 375px;
    width: 100%;
  }

  #section4 .section4-header h2 {
    max-width: 165px;
    font-size: 34px;
    width: 100%;
  }

  #section4 .section4-header h3 {
    min-width: 165px;
    font-size: 22px;
    text-align: right;
  }

  #section4 .gallery-mobile {
    display: block;
  }

  #section4 .gallery-desktopTablet {
    display: none;
  }

  #section4 .gallery-mobile-header {
    margin-top: 40px;
    margin-bottom: 30px;
    width: 100%;
    font-size: 26px;
    font-family: HelveticaNeue;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0b0b0b;
    text-align: center;
  }

  #section4 .gallery-mobile-photo {
    padding: 0 17px;
  }

  #section4 .gallery-mobile-photo .gallery-mobile-photo-1 {
    min-width: 340px;
    max-height: 230px
  }

  #section4 .gallery-mobile-photo .gallery-mobile-photo-2 {
    min-width: 205px;
    max-height: 160px
  }

  #section4 .gallery-mobile-more {
    margin-top: 19px;
    width: 100%;
    font-size: 18px;
    font-family: HelveticaNeue;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0b0b0b;
    text-align: center;
    text-decoration: underline;
  }

  /* section5 - Video */

  #section5 {
    margin-top: 32px;
    padding: 0px 17px;
  }

  #section5 h2 {
    padding: 0px 17px;
    width: 176px;
    margin-bottom: 30px;
    font-size: 34px;
  }

  /* Section6 - Form */
  #section6 {
    margin-top: 44px;
    padding: 0px 20px;
    margin-bottom: 50px;
  }

  #section6 .form-header {
    margin-bottom: 44px;
  }

  #section6 .form-process {
    padding: 0px 20px;
    margin: 0px 15px 20px 15px;
  }

  #section6 .form-process img {
    width: 30px;
    height: 30px;
    vertical-align: top;
    margin-right: 14px;
  }

  #section6 .form-process .form-process-1,
  #section6 .form-process .form-process-2 {
    margin-bottom: 35px;
  }

  #section6 .form-process .form-process-text {
    font-size: 14px;
    width: 85px;
  }

  /* Section6 - FormInput */
  #section6 .form-label-style {
    padding: 9px 0px 9px 12px;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0b0b0b;
  }

  #section6 .form-input-style {
    border: 0 none;
    background-color: #f6f6f6;
    border-radius: 0px;
    width: 341px;
    width: 100%;
    padding: 9px 21px 9px 12px;
    border-bottom: 2px #0b0b0b solid;
    margin-bottom: 7px;
    position: relative;
  }

  #section6 .form-input-select-arrowDown {
    position: absolute;
    right: 25px;
    bottom: 15px;
  }

  #section6 .form-textarea-style {
    border: 0 none;
    background-color: #f6f6f6;
    width: 342px;
    width: 100%;
    height: 141px;
    border-radius: 4px;
    border: 2px #0b0b0b solid;
    padding: 6px 22px 9px 12px;
    margin-top: 30px;
  }

  #section6 #form-5 .form-submit-content {
    width: 100%;
    margin-top: 21px;
    text-align: center;
  }

  #section6 #form-5 .submit {
    border: 0 none;
    background-color: #f6f6f6;
    border-bottom: 2px #0b0b0b solid;
    font-family: HelveticaNeue;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0b0b0b;
  }

  #section6 #form-5 .form-submit-success-content {
    width: 100%;
    margin-top: 15px;
    text-align: center;
  }

  #section6 #form-5 .form-submit-success {
    font-family: HelveticaNeue;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #df732b;
  }

}