/* navbar */

body {
	background-color: #f6f6f6;
}

.my-nav {
	position: fixed;
	top: 0;
	/* mobile-header z-index 5 */
	/* my-nav z-index 3 */
	/* translation z-index 3 */
	/* section7 form  z-index2 */
	z-index: 3;
	background-color: transparent;
}

.my-nav a {
	color: black;
	text-decoration: underline;
	font-family: HelveticaNeue;
	font-size: 40px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;
}

/* .header-img {
	width: 100%;
	height: 100%;
	overflow: hidden;
} */

.footer {
	height: 200px;
	background-color: black;
}

footer img {
	margin-bottom: 20px;
}

/* 側邊滑動效果 */
.offcanvas-collapse {
	position: fixed;
	top: 0px;
	/* Height of navbar */
	bottom: 0;
	left: 100%;
	width: 100%;
	padding-right: 1rem;
	padding-left: 1rem;
	overflow-y: auto;
	visibility: hidden;
	background-color: #f6f6f6;
	box-shadow: -5px 2px 12px 0 rgba(0, 0, 0, 0.1);
	transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.offcanvas-collapse.open {
	visibility: visible;
	-webkit-transform: translateX(-80%);
	transform: translateX(-80%);
}

html,
body {
	overflow-x: hidden;
	/* Prevent scroll on narrow devices */
}

.desktop-header {
	display: inline-block;
}

.mobile-header {
	display: none;
	/* mobile-header z-index 5 */
	/* my-nav z-index 3 */
	/* translation z-index 3 */
	/* section7 form  z-index2 */
	z-index: 5
}

.header-navbar {
	display: inline-block;
	width: 100%;
	min-height: 50px;
	background-color: #f6f6f6;
	color: #000000;
	padding: 15px 50px;
}

.header-navbar .text-translation {
	width: 100%;
	font-size: 20px;
	font-family: HelveticaNeue;
	font-weight: bold;
}

.translation {
	/* mobile-header z-index 5 */
	/* my-nav z-index 3 */
	/* translation z-index 3 */
	/* section7 form  z-index2 */
	z-index: 3;
}

.translation:hover,
.desktop-header a:hover,
.mobile-header a:hover,
.section3 a:hover {
	cursor: pointer;
}

#schedule {
	z-index: 100;
}

/* 基礎樣板 */

/* Section1 - The Opportunity */
#section1 .section1-content img {
	width: 100%;
	height: 410px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

#section1 .section1-content h2 {
	position: absolute;
	top: 116px;
	left: 296px;
	width: 400px;
	height: 100%;
	font-size: 50px;
	font-family: HelveticaNeue;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
}

#section1 .section1-content p {
	position: absolute;
	top: 311px;
	left: 296px;
	width: 317px;
	height: 100%;
	font-size: 14px;
	font-family: HelveticaNeue;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
	color: #ffffff;
}

/* Section2 - Quincy-Davis-III */

#section2 {
	margin-top: 110.5px;
}

#section2 .section2-content img {
	width: 100%;
	height: auto;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

#section2 .section2-content h2 {
	position: absolute;
	font-size: 50px;
	font-family: HelveticaNeue;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #0b0b0b
}

#section2 .section2-content p {
	font-size: 18px;
	position: absolute;
	font-family: HelveticaNeue;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #0b0b0b
}

/* section3 - About-DAE */
#section3 {
	margin-top: 89.5px;
}

#section3 h2 {
	font-family: HelveticaNeue;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #0b0b0b
}

#section3 .section3-content img {
	width: 100%;
	height: auto;
	background-repeat: no-repeat;
	position: relative;
}

#section3 p {
	font-family: HelveticaNeue;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #0b0b0b
}

#section3 h3 {
	font-family: HelveticaNeue;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #df732b;
	text-decoration: underline;
}

/* section4 - Gallery */
#section4-mobile {
	display: none;
}

#section4-desktop .row:nth-child(2) {
	margin-top: 45px;
	margin-bottom: 37px
}

#section4-desktop img {
	min-width: 300px;
	min-height: 218px;
	width: 100%;
	height: 100%;
}

#section4-desktop #galley-image-1 {
	position: relative;
}

#section4-desktop h2 {
	position: absolute;
	font-size: 50px;
	left: 178px;
	top: -33px;
	width: 100%;
	font-family: HelveticaNeue;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;
}

#section4-desktop p {
	position: absolute;
	top: 103px;
	left: 346px;
	font-family: HelveticaNeue;
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #0b0b0b;
	text-decoration: underline;
}

/* section5 - Banner */
#section5 {
	margin-top: 124px;
}

#section5 .section5-content .section5-img-desktopTablet {
	position: relative;
	background-repeat: no-repeat;
}

#section5 .section5-content .section5-img-mobile {
	display: none;
}

#section5 .row:nth-child(2) h2 {
	font-family: HelveticaNeue;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;
	text-decoration: underline;
}

#section5 .row:nth-child(2) a {
	font-family: HelveticaNeue;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #df732b;
	text-decoration: underline;
}

/* section5 - Schedule */
#mobileSchedule {
	font-family: HelveticaNeue;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #0b0b0b;
}

.icon-close-schedule {
	position: absolute;
	z-index: 101;
}

.mobile-schedule-content .daily {
	width: 100%;
	font-size: 18px;
	padding: 0px;
	text-decoration: underline;
}

.mobile-schedule-content .onPage {
	color: #df732b;
}

#mobileSchedule .download-link {
	position: absolute;
	font-size: 22px;
	color: #df732b;
	text-decoration: underline;
}

/* section6 - Reference */
#section6 .row {
	margin-bottom: 30px;
}

#section6 .reference-person {
	margin-top: 30px;
}

#section6 h3 {
	font-family: HelveticaNeue;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #0b0b0b;
}

#section6 .reference-person img {
	position: relative;
	width: 60px;
	height: 60px;
}

#section6 .reference-person p {
	position: absolute;
	font-size: 18px;
	left: 97px;
	top: 92px;
	width: 132px;
	height: 60px;
	font-family: HelveticaNeue;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;
}

/* section7 - Form */
#section7 {
	/* mobile-header z-index 5 */
	/* my-nav z-index 3 */
	/* translation z-index 3 */
	/* section7 form  z-index2 */
	z-index: 2;
}

#section7 h2 {
	width: 341px;
	height: 80px;
	font-family: HelveticaNeue;
	font-size: 34px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #0b0b0b;
}

#section7 .form-header {
	margin-bottom: 36px;
}

#section7 .form-process span {
	padding-left: 6px;
	width: 100%;
	height: 100%;
	font-family: HelveticaNeue;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #0b0b0b;
}

/* section8 - Sponsors */
#section8 h2 {
	text-align: center;
	font-family: HelveticaNeue;
	font-size: 50px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;
	margin-bottom: 27px;
}

#section8 p {
	text-align: center;
	font-family: HelveticaNeue;
	font-size: 22px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #0b0b0b;
}

#section8 .row:first-child {
	margin-bottom: 62px;
}

/* Desktop */
@media screen and (min-width:992px) {

	.desktop-header {
		margin-top: 70px;
	}

	/* section2 - Quincy-Davis-III */

	#section2 .section2-content img {
		max-width: 460px;
		max-height: 440px;
	}

	#section2 .section2-content h2 {
		top: 233px;
		left: 331px;
		width: 385px;
		height: 100%;
	}

	#section2 .section2-content p {
		top: 310.5px;
		left: 480px;
		width: 244px;
		height: 100%;
	}

	/* section3 - About-DAE */

	#section3 h2 {
		width: 385px;
		height: 60px;
		margin-bottom: 25px;
		font-size: 50px;
	}

	#section3 .section3-content img {
		max-width: 376px;
		max-height: 260px;
	}

	#section3 p {
		position: absolute;
		top: 87px;
		left: 14px;
		width: 300px;
		height: 147px;
		font-size: 18px;
	}

	#section3 h3 {
		position: absolute;
		top: 207px;
		left: 104px;
		width: 240px;
		height: 60px;
		font-size: 50px;
	}

	/* section4 - Gallery */
	#section4-desktop {
		margin-top: 135px;
		padding-right: 42px;
		padding-left: 42px;
		display: block;
	}

	/* section5 - Banner */
	#section5 .section5-content .section5-img-desktopTablet {
		min-width: 922px;
		min-height: 405px;
	}

	#section5 .row:nth-child(2) h2 {
		position: absolute;
		top: 248px;
		right: 70px;
		height: 60px;
		font-size: 50px;
	}

	#section5 .row:nth-child(2) a {
		position: absolute;
		font-size: 50px;
		top: 318px;
		right: 70px;
		width: 200px;
		height: 70px;
	}

	/* section5 - Schedule info. */
	.icon-close-schedule {
		top: 30px;
		left: 750px;
		padding-right: 42px;
	}

	.mobile-schedule-content {
		/* margin-top: 92px; */
		padding: 92px 80px 0px 42px;
	}

	.mobile-schedule-content h2 {
		width: 100%;
		margin-bottom: 22px;
		font-size: 50px;
	}

	.mobile-schedule-content p {
		width: 100%;
		margin-bottom: 32px;
		font-size: 18px;
	}

	.schedule-detail {
		position: relative;
		margin-top: 16px;
		padding: 0px 80px 0px 42px;
	}

	#mobileSchedule .download-link {
		top: -45px;
		left: -20px;
	}

	/* section6 - Reference */
	#section6 {
		margin-top: 35px;
		padding-right: 42px;
	}

	#section6 h3 {
		font-size: 22px;
	}

	/* section7 - Form */
	#section7 {
		margin-top: 125px;
	}

	#section7 .form-process {
		margin-top: 24px;
	}

	#section7 .form-process img {
		padding-right: 16px;
	}

	#section7 .form-process span:nth-child(1) {
		margin-bottom: 56px;
	}

	#section7 .form-process span:nth-child(2),
	#section7 .form-process span:nth-child(3) {
		margin-bottom: 50px;
	}

	#section7 #form-1,
	#section7 #form-2,
	#section7 #form-3,
	#section7 #form-4 {
		margin-bottom: 20px;
	}

	/* Content - Sponsors */
	#section8 {
		margin-top: 85px;
		margin-bottom: 132px;
	}
}

/* Tablet */
@media screen and (min-width:768px) and (max-width:991.98px) {

	.my-nav a {
		font-size: 34px;
	}

	.desktop-header {
		margin-top: 15px;
		padding-top: 0px;
	}

	/* section1 - The Opportunity */

	#section1 .section1-content h2 {
		top: 116px;
		left: 334px;
		width: 414px;
		height: 100%;
	}

	#section1 .section1-content p {
		top: 331px;
		left: 334px;
		width: 388px;
		height: 100%;
	}

	/* section2 - Quincy-Davis-III */

	#section2 {
		margin-top: 50px;
		margin-bottom: 126px;
	}

	#section2 .section2-content img {
		max-width: 368px;
		max-height: 352px;
	}

	#section2 .section2-content h2 {
		top: 140px;
		left: 235px;
		width: 385px;
		height: 100%;
	}

	#section2 .section2-content p {
		padding-right: 46px;
		top: 211px;
		left: 402px;
		width: 240px;
		height: 100%;
	}

	/* section3 - About-DAE */

	#section3 {
		margin-top: 65px;
		margin-bottom: 145px;
	}

	#section3 h2 {
		width: 100%;
		height: 70px;
		font-size: 50px;
	}

	#section3 .section3-content img {
		max-width: 330px;
		max-height: 207px;
	}

	#section3 p {
		position: absolute;
		top: 0px;
		left: 14px;
		width: 180px;
		height: 210px;
		font-size: 18px;
	}

	#section3 h3 {
		position: absolute;
		top: 227px;
		left: 0px;
		width: 200px;
		height: 70px;
		font-size: 50px;
	}

	/* Content - Gallery */

	#section4-desktop {
		margin-top: 54px;
		padding-right: 30px;
		padding-left: 30px;
		display: block;
	}

	#section4-desktop img {
		min-width: 239px;
		min-height: 173px;
		width: 100%;
		height: 100%;
	}

	/* section5 - Banner */
	#section5 {
		margin-top: 84px;
	}

	#section5 .section5-content .section5-img-desktopTablet {
		min-width: 767px;
		min-height: 337px;
		width: 100%;
		height: 100%;
	}

	#section5 .row:nth-child(2) h2 {
		position: absolute;
		top: 180px;
		right: 35px;
		height: 60px;
		font-size: 50px;
	}

	#section5 .row:nth-child(2) a {
		position: absolute;
		font-size: 50px;
		top: 250px;
		right: 35px;
		width: 200px;
		height: 70px;
	}

	/* section5 - Schedule info. */
	.icon-close-schedule {
		top: 25px;
		left: 550px;
		padding-right: 34px;
		font-size: 30px;
	}

	.mobile-schedule-content {
		margin-top: 72px;
		padding: 0px 46px 0px 44px;
	}

	.mobile-schedule-content h2 {
		width: 100%;
		margin-bottom: 9px;
		font-size: 50px;
	}

	.mobile-schedule-content p {
		width: 100%;
		margin-bottom: 21px;
		font-size: 18px;
	}

	.schedule-detail {
		margin-top: 16px;
		padding: 0px 80px 0px 44px;
	}

	#mobileSchedule .download-link {
		top: -45px;
		left: -55px;
	}

	/* section6 - Reference */
	#section6 {
		margin-top: 20px;
		padding-right: 86px;
	}

	#section6 h3 {
		font-size: 22px;
	}

	/* Content - Form */
	#section7 {
		margin-top: 50px;
	}

	#section7 .form-header {
		margin-bottom: 12px;
		margin-left: -30px;
	}

	#section7 .form-process {
		margin-bottom: 20px;
		margin-left: -4px;
	}

	#section7 #form-1,
	#section7 #form-2,
	#section7 #form-3,
	#section7 #form-4 {
		margin-bottom: 20px;
	}

	/* section8 - Sponsors */
	#section8 {
		margin-top: 53px;
		margin-bottom: 67px;
	}
}

/* Mobile Device */
@media screen and (max-width: 767.98px) {
	body {
		min-width: 375px;
	}

	.header-navbar {
		display: none
	}

	.desktop-header {
		display: none;
	}

	.mobile-header {
		display: inline-block;
		padding-top: 18px;
		padding-bottom: 18px;
	}

	.icon-open {
		font-size: 24px;
		line-height: 50px;
		font-weight: bold;
	}

	.icon-close-header {
		text-align: right;
		margin-right: 75px;
		font-size: 25px;
		font-weight: bold;
	}

	.mobile-header-content {
		margin-top: 50px;
		margin-bottom: 25px
	}

	.mobile-header-content a {
		border-bottom: #000000 2px solid;
		text-decoration: none;
		font-family: HelveticaNeue;
		font-size: 34px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		height: 40px;
		line-height: 40px;
		letter-spacing: normal;
		color: #0b0b0b;
	}

	.mobile-header-content .text-translation {
		font-size: 20px;
		font-family: HelveticaNeue;
		font-weight: bold;
	}

	/* section1 - The Opportunity */
	#section1 .section1-content {
		margin-top: 66px;
	}

	#section1 .section1-content h2 {
		top: 150px;
		left: 70px;
		width: 282px;
		height: 100%;
		font-size: 34px;
	}

	#section1 .section1-content p {
		top: 285px;
		left: 70px;
		width: 217px;
		height: 100%;
	}

	/* section2 - Quincy-Davis-III */

	#section2 {
		margin-top: 40px;
		margin-bottom: 156px;
	}

	#section2 .section2-content img {
		max-width: 298px;
		max-height: 335px;
	}

	#section2 .section2-content h2 {
		top: 165px;
		left: 129px;
		width: 141px;
		height: 100%;
		font-size: 34px;
	}

	#section2 .section2-content p {
		top: 305px;
		left: 129px;
		width: 210px;
		height: 100%;
		font-size: 14px;
	}

	/* section3 - About-DAE */
	#section3 {
		margin-top: 56px;
	}

	#section3 h2 {
		width: 262px;
		height: 40px;
		font-size: 34px;
		padding-left: 16px;
		margin-bottom: 10px;
	}

	#section3 .section3-content img {
		min-width: 375px;
		max-height: 242px;
		margin-left: -15px;
	}

	#section3 p {
		width: 312px;
		margin-top: 18px;
		font-size: 14px;
	}

	#section3 h3 {
		min-width: 325px;
		font-size: 22px;
		text-align: right;
	}

	/* Content - Gallery */
	#section4-desktop {
		display: none;
	}

	#section4-mobile {
		margin-top: 33px;
		display: block;
	}

	#section4-mobile h2 {
		width: 142px;
		height: 40px;
		font-family: HelveticaNeue;
		font-size: 34px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #0b0b0b;
	}

	#section4-mobile img {
		min-width: 167px;
		min-height: 124px;
		width: 100%;
		height: 100%;
	}

	#section4-mobile p {
		width: 100%;
		height: 22px;
		margin-top: 28px;
		font-family: HelveticaNeue;
		font-size: 18px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #0b0b0b;
		text-decoration: underline;
		text-align: center;
	}

	/* section5 - Banner */
	#section5 {
		margin-top: 55px;
	}

	#section5 .section5-content {
		padding: 0px;
	}

	#section5 .section5-content .section5-img-desktopTablet {
		display: none
	}

	#section5 .section5-content .section5-img-mobile {
		display: inline-block;
		min-width: 375px;
		min-height: 337px;
		width: 100%;
		height: 100%;
		background-size: cover;
	}

	#section5 .row:nth-child(2) h2 {
		width: 150px;
		height: 26px;
		font-size: 22px;
		z-index: 1;
		text-align: center;
	}

	#section5 .row:nth-child(2) a {
		width: 150px;
		height: 26px;
		font-size: 22px;
		text-align: center;
	}

	/* section5 - Schedule info. */

	.mobile-schedule.open {
		visibility: visible;
		-webkit-transform: translateX(-80%);
		transform: translateX(-80%);
	}

	.icon-close-schedule {
		top: 20px;
		left: 260px;
		padding-right: 19px;
		font-size: 25px;
	}

	.mobile-schedule-content {
		margin-top: 63px;
		padding: 0px 15px 0px 10px;
	}

	.mobile-schedule-content h2 {
		width: 100%;
		margin-bottom: 13px;
		font-size: 22px;
	}

	.mobile-schedule-content p {
		width: 100%;
		margin-bottom: 28px;
		font-size: 18px;
	}

	.schedule-detail {
		margin-top: 16px;
		padding: 0px 89px 0px 10px;
	}

	#mobileSchedule .download-link {
		top: 27px;
		left: 20px;
	}

	/* section6 - Reference */
	#section6 {
		margin-top: 77px;
	}

	#section6 h3 {
		margin-left: -20px;
		font-size: 18px;
		text-align: center;
	}

	#section6 .reference-person img {
		margin-left: 62px;
	}

	#section6 .reference-person p {
		top: 76px;
		left: 156px;
		width: 118.6px;
		height: 60px;
	}

	/* Content - Form */
	#section7 {
		margin-top: 44px;
	}

	#section7 .form-header {
		margin-left: 15px;
	}

	#section7 .form-process {
		margin-top: 20px;
		margin-bottom: 40px;
		margin-left: 15px;
	}

	#section7 .form-process span {
		font-size: 12px;
	}

	#section7 #form-1,
	#section7 #form-2,
	#section7 #form-3,
	#section7 #form-4 {
		margin-bottom: 15px;
	}

	#section7 #form-5 .submit {
		text-align: center;
	}

	/* Content - Sponsors */
	#section8 {
		margin-top: 73px;
		margin-bottom: 30px;
	}

	#section8 h2 {
		text-align: left;
		font-size: 40px;
	}

	#section8 p {
		text-align: left;
		font-size: 16px;
	}

	#section8 .row:first-child {
		margin-bottom: 20px;
	}

	#section8 .row:nth-child(2) .col-12:first-child {
		margin-bottom: 20px;
	}

}