/* navbar */

body {
	background-color: #f6f6f6;
}

.my-nav {
	position: fixed;
	top: 0;
	z-index: 1;
	background-color: transparent;
}

.my-nav a {
	color: black;
	text-decoration: underline;
	font-family: HelveticaNeue;
	font-size: 40px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;
}

.translation {
	z-index: 3;
}

.translation:hover {
	cursor: pointer;
}

/* .header-img {
	width: 100%;
	height: 100%;
	overflow: hidden;
} */

.footer {
	height: 200px;
	background-color: black;
}

footer img {
	margin-bottom: 20px;
}

/* 側邊滑動效果 */
.offcanvas-collapse {
	position: fixed;
	top: 0px;
	/* Height of navbar */
	bottom: 0;
	left: 100%;
	width: 100%;
	padding-right: 1rem;
	padding-left: 1rem;
	overflow-y: auto;
	visibility: hidden;
	background-color: #f6f6f6;
	box-shadow: -5px 2px 12px 0 rgba(0, 0, 0, 0.1);
	transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.offcanvas-collapse.open {
	visibility: visible;
	-webkit-transform: translateX(-80%);
	transform: translateX(-80%);
}

html,
body {
	overflow-x: hidden;
	/* Prevent scroll on narrow devices */
}

.desktop-header {
	display: inline-block;
}

.mobile-header {
	display: none
}

.header-navbar {
	display: inline-block;
	width: 100%;
	min-height: 50px;
	background-color: #f6f6f6;
	color: #000000;
	padding: 15px 50px;
}

.header-navbar .text-translation {
	width: 100%;
	font-size: 20px;
	font-family: HelveticaNeue;
	font-weight: bold;
}

#schedule {
	z-index: 100;
}

/* 基礎樣板 */

/* Section1 - The Opportunity */
#section1 .section1-content {
	min-height: 410px;
	background-repeat: no-repeat;
	background-size: cover;
}

#section1 .section1-content h2 {
	padding: 116px 50px 0px 296px;
	font-size: 50px;
	font-family: HelveticaNeue;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
}

#section1 .section1-content p {
	padding: 15px 102px 51px 296px;
	font-size: 14px;
	font-family: HelveticaNeue;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
	color: #ffffff;
}

/* Section2 - Quincy-Davis-III */

#section2 {
	margin-top: 110.5px;
}

#section2 .section2-content {
	position: relative;
	background-repeat: no-repeat;
}

#section2 .section2-content h2 {
	position: absolute;
	font-size: 50px;
	font-family: HelveticaNeue;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #0b0b0b
}

#section2 .section2-content p {
	font-size: 18px;
	position: absolute;
	font-family: HelveticaNeue;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #0b0b0b
}

/* section3 - About-DAE */
#section3 {
	margin-top: 89.5px;
}

#section3 h2 {
	font-family: HelveticaNeue;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #0b0b0b
}

#section3 .section3-content {
	position: relative;
	background-repeat: no-repeat;
}

#section3 p {
	font-family: HelveticaNeue;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #0b0b0b
}

#section3 h3 {
	font-family: HelveticaNeue;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #0b0b0b;
	text-decoration: underline;
}

/* section4 - Gallery */
#section4-mobile {
	display: none;
}

#section4-desktop .row:nth-child(2) {
	margin-top: 45px;
	margin-bottom: 37px
}


#section4-desktop #galley-image-1 {
	position: relative;
}

#section4-desktop h2 {
	position: absolute;
	font-size: 50px;
	left: 178px;
	top: -33px;
	width: 100%;
	font-family: HelveticaNeue;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;
}

#section4-desktop p {
	position: absolute;
	top: 103px;
	left: 346px;
	font-family: HelveticaNeue;
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #0b0b0b;
	text-decoration: underline;
}

/* section5 - Banner */
#section5 {
	margin-top: 124px;
}

#section5 .section5-content {
	position: relative;
	min-width: 922px;
	min-height: 420px;
	background-image: url(https://via.placeholder.com/922X420.png);
	background-repeat: no-repeat;
}

/* section5 - Schedule */
#mobileSchedule {
	font-family: HelveticaNeue;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #0b0b0b;
}

.icon-close-schedule {
	position: absolute;
	z-index: 101;
}

.mobile-schedule-content .daily {
	width: 100%;
	font-size: 18px;
	padding: 0px;
	text-decoration: underline;
}

.mobile-schedule-content .onPage {
	color: #df732b;
}

#mobileSchedule .download-link {
	position: absolute;
	font-size: 22px;
	color: #df732b;
	text-decoration: underline;
}

/* section6 - Reference */
#section6 .row {
	margin-bottom: 30px;
}

#section6 .reference-person {
	margin-top: 30px;
}

#section6 h3 {
	font-family: HelveticaNeue;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #0b0b0b;
}

#section6 .reference-person img {
	position: relative;
	width: 60px;
	height: 60px;
}

#section6 .reference-person p {
	position: absolute;
	font-size: 18px;
	left: 97px;
	top: 92px;
	width: 132px;
	height: 60px;
	font-family: HelveticaNeue;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;
}

/* section7 - Form */
#section7 {
	z-index: 3;
}

#section7 h2 {
	width: 341px;
	height: 80px;
	font-family: HelveticaNeue;
	font-size: 34px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #0b0b0b;
}

#section7 .form-header {
	margin-bottom: 36px;
}

#section7 .form-process span {
	padding-left: 6px;
	width: 100%;
	height: 100%;
	font-family: HelveticaNeue;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #0b0b0b;
}

/* section8 - Sponsors */
#section8 h2 {
	text-align: center;
	font-family: HelveticaNeue;
	font-size: 50px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;
	margin-bottom: 27px;
}

#section8 p {
	text-align: center;
	font-family: HelveticaNeue;
	font-size: 22px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #0b0b0b;
}

#section8 .row:first-child {
	margin-bottom: 62px;
}

/* Desktop */
@media screen and (min-width:992px) {

	.desktop-header {
		margin-top: 70px;
	}

	/* section1 - The Opportunity */
	#section1 .section1-content {
		min-width: 715px;
		background-image: url(https://via.placeholder.com/715X410.png);
	}

	/* section2 - Quincy-Davis-III */

	#section2 .section2-content {
		min-width: 460px;
		min-height: 440px;
		background-image: url(https://via.placeholder.com/460X440.png);
	}

	#section2 .section2-content h2 {
		top: 253px;
		left: 331px;
		width: 385px;
		height: 60px;
	}

	#section2 .section2-content p {
		top: 330.5px;
		left: 480px;
		width: 210px;
		height: 109px;
	}

	/* section3 - About-DAE */

	#section3 h2 {
		width: 385px;
		height: 60px;
		margin-bottom: 25px;
		font-size: 50px;
	}

	#section3 .section3-content {
		min-width: 376px;
		min-height: 260px;
		background-image: url(https://via.placeholder.com/376X260.png);
	}

	#section3 p {
		width: 300px;
		height: 109px;
		margin-top: 87px;
		font-size: 18px;
	}

	#section3 h3 {
		width: 190px;
		height: 60px;
		margin-top: 4px;
		margin-left: 134px;
		font-size: 50px;
	}

	/* section4 - Gallery */
	#section4-desktop {
		margin-top: 135px;
		margin-left: 84px;
		display: block;
	}

	#section5 h2:nth-child(1) {
		position: absolute;
		font-size: 50px;
		margin-right: 44px;
		top: 268px;
		right: 44px;
		width: 150px;
		height: 70px;
		font-family: HelveticaNeue;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #000000;
		text-decoration: underline;
	}

	#section5 a h2:nth-child(1) {
		position: absolute;
		font-size: 50px;
		top: 338px;
		right: -29px;
		width: 200px;
		height: 70px;
		font-family: HelveticaNeue;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #000000;
		text-decoration: underline;
	}

	/* section5 - Schedule info. */
	.icon-close-schedule {
		top: 30px;
		left: 750px;
		padding-right: 42px;
		font-size: 37px;
	}

	.mobile-schedule-content {
		margin-top: 102px;
		padding: 0px 80px 0px 42px;
	}

	.mobile-schedule-content h2 {
		width: 100%;
		margin-bottom: 22px;
		font-size: 50px;
	}

	.mobile-schedule-content p {
		width: 100%;
		margin-bottom: 32px;
		font-size: 18px;
	}

	.schedule-detail {
		position: relative;
		margin-top: 16px;
		padding: 0px 80px 0px 42px;
	}

	#mobileSchedule .download-link {
		top: -45px;
		left: -20px;
	}

	/* section6 - Reference */
	#section6 {
		margin-top: 35px;
		padding-right: 42px;
	}

	#section6 h3 {
		font-size: 22px;
	}

	/* section7 - Form */
	#section7 {
		margin-top: 125px;
	}

	#section7 .form-process {
		margin-top: 24px;
	}

	#section7 .form-process img {
		padding-right: 16px;
	}

	#section7 .form-process span:nth-child(1) {
		margin-bottom: 56px;
	}

	#section7 .form-process span:nth-child(2),
	#section7 .form-process span:nth-child(3) {
		margin-bottom: 50px;
	}

	#section7 #form-1,
	#section7 #form-2,
	#section7 #form-3,
	#section7 #form-4 {
		margin-bottom: 20px;
	}

	/* Content - Sponsors */
	#section8 {
		margin-top: 85px;
		margin-bottom: 132px;
	}
}

/* Tablet */
@media screen and (min-width:768px) and (max-width:991.98px) {

	.desktop-header {
		margin-top: 15px;
		padding-top: 0px;
	}

	/* section1 - The Opportunity */
	#section1 .section1-content {
		min-width: 100%;
		background-image: url(https://via.placeholder.com/768X410.png);
	}

	#section1 .section1-content h2 {
		padding: 129px 56px 0px 302px;
		font-size: 50px;
	}

	#section1 .section1-content p {
		padding: 34px 149px 67px 296px;
		font-size: 14px;
	}

	/* section2 - Quincy-Davis-III */

	#section2 {
		margin-top: 50px;
	}

	#section2 .section2-content {
		min-width: 368px;
		min-height: 352px;
		background-image: url(https://via.placeholder.com/368X352.png);
	}

	#section2 .section2-content h2 {
		top: 112px;
		left: 420px;
		width: 243px;
		height: 70px;
	}

	#section2 .section2-content p {
		top: 241px;
		left: 420px;
		width: 210px;
		height: 109px;
	}

	/* section3 - About-DAE */

	#section3 {
		margin-top: 65px;
		margin-bottom: 145px;
	}

	#section3 h2 {
		width: 361px;
		height: 70px;
		text-align: center;
		padding-right: 30px;
		font-size: 50px;
	}

	#section3 .section3-content {
		position: relative;
		min-width: 330px;
		min-height: 207px;
		background-image: url(https://via.placeholder.com/330X207.png);
	}

	#section3 p {
		position: absolute;
		top: -207px;
		left: 542px;
		width: 180px;
		height: 210px;
		font-size: 18px;
	}

	#section3 h3 {
		position: absolute;
		top: 27px;
		left: 510px;
		width: 200px;
		height: 70px;
		font-size: 50px;
	}

	/* Content - Gallery */

	#section4-desktop {
		margin-top: 54px;
		margin-left: -64px;
		display: block;
	}

	/* section5 - Banner */
	#section5 {
		margin-top: 84px;
	}

	#section5 h2:nth-child(1) {
		position: absolute;
		font-size: 50px;
		margin-right: 44px;
		top: 268px;
		right: 44px;
		width: 150px;
		height: 70px;
		font-family: HelveticaNeue;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #000000;
		text-decoration: underline;
	}

	#section5 a h2:nth-child(1) {
		position: absolute;
		font-size: 50px;
		top: 338px;
		right: -29px;
		width: 200px;
		height: 70px;
		font-family: HelveticaNeue;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #000000;
		text-decoration: underline;
	}

	/* section5 - Schedule info. */
	.icon-close-schedule {
		top: 25px;
		left: 550px;
		padding-right: 34px;
		font-size: 30px;
	}

	.mobile-schedule-content {
		margin-top: 72px;
		padding: 0px 46px 0px 44px;
	}

	.mobile-schedule-content h2 {
		width: 100%;
		margin-bottom: 9px;
		font-size: 50px;
	}

	.mobile-schedule-content p {
		width: 100%;
		margin-bottom: 21px;
		font-size: 18px;
	}

	.schedule-detail {
		margin-top: 16px;
		padding: 0px 80px 0px 44px;
	}

	#mobileSchedule .download-link {
		top: -45px;
		left: -55px;
	}

	/* section6 - Reference */
	#section6 {
		margin-top: 20px;
		padding-right: 86px;
	}

	#section6 h3 {
		font-size: 22px;
	}

	/* Content - Form */
	#section7 {
		margin-top: 50px;
	}

	#section7 .form-header {
		margin-bottom: 12px;
		margin-left: -30px;
	}

	#section7 .form-process {
		margin-bottom: 20px;
		margin-left: -4px;
	}

	#section7 #form-1,
	#section7 #form-2,
	#section7 #form-3,
	#section7 #form-4 {
		margin-bottom: 20px;
	}

	/* section8 - Sponsors */
	#section8 {
		margin-top: 53px;
		margin-bottom: 67px;
	}
}

/* Mobile Device */
@media screen and (max-width: 767.98px) {
	body {
		min-width: 375px;
	}

	.header-navbar {
		display: none
	}

	.desktop-header {
		display: none;
	}

	.mobile-header {
		display: inline-block;
		padding-top: 18px;
		padding-bottom: 18px;
	}

	.icon-open {
		font-size: 24px;
		line-height: 50px;
		font-weight: bold;
	}

	.icon-close-header {
		text-align: right;
		margin-right: 75px;
		font-size: 25px;
		font-weight: bold;
	}

	.mobile-header-content {
		margin-top: 50px;
		margin-bottom: 25px
	}

	.mobile-header-content a {
		border-bottom: #000000 2px solid;
		text-decoration: none;
		font-family: HelveticaNeue;
		font-size: 34px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		height: 40px;
		line-height: 40px;
		letter-spacing: normal;
		color: #0b0b0b;
	}

	.mobile-header-content .text-translation {
		font-size: 20px;
		font-family: HelveticaNeue;
		font-weight: bold;
	}

	/* section1 - The Opportunity */
	#section1 .section1-content {
		min-width: 375px;
		background-image: url(https://via.placeholder.com/375X410.png);
	}

	#section1 .section1-content h2 {
		padding: 150px 17px 0px 70px;
		font-size: 34px;
	}

	#section1 .section1-content p {
		padding: 15px 82px 61px 70px;
		font-size: 14px;
	}

	/* section2 - Quincy-Davis-III */

	#section2 {
		margin-top: 40px;
	}

	#section2 .section2-content {
		min-width: 298px;
		min-height: 335px;
		background-image: url(https://via.placeholder.com/298X335.png);
	}

	#section2 .section2-content h2 {
		font-size: 34px;
		top: 215px;
		left: 129px;
		width: 141px;
		height: 80px;
	}

	#section2 .section2-content p {
		font-size: 14px;
		top: 305px;
		left: 129px;
		width: 200px;
		height: 109px;
	}

	/* section3 - About-DAE */

	#section3 {
		margin-top: 65px;
	}

	#section3 h2 {
		width: 262px;
		height: 40px;
		font-size: 34px;
		padding-left: 16px;
	}

	#section3 .section3-content {
		min-width: 375px;
		min-height: 242px;
		margin-left: -15px;
		background-image: url(https://via.placeholder.com/375X242.png);
	}

	#section3 p {
		width: 342px;
		margin-top: 18px;
		font-size: 14px;
	}

	#section3 h3 {
		min-width: 325px;
		font-size: 22px;
		text-align: right;
	}

	/* Content - Gallery */
	#section4-desktop {
		display: none;
	}

	#section4-mobile {
		margin-top: 33px;
		display: block;
	}

	#section4-mobile h2 {
		width: 123px;
		height: 40px;
		font-family: HelveticaNeue;
		font-size: 34px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #0b0b0b;
	}

	#section4-mobile p {
		width: 100%;
		height: 22px;
		margin-top: 28px;
		font-family: HelveticaNeue;
		font-size: 18px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #0b0b0b;
		text-decoration: underline;
		text-align: center;
	}

	/* section5 - Banner */
	#section5 {
		margin-top: 55px;
	}

	#section5 .section5-content {
		min-width: 375px;
		min-height: 337px;
		background-image: url(https://via.placeholder.com/375X337.png);
		background-size: cover;
	}

	#section5 h2 {
		width: 84px;
		height: 26px;
		font-family: HelveticaNeue;
		font-size: 22px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #0b0b0b;
		text-decoration: underline;
	}

	#section5 a {
		width: 84px;
		height: 26px;
		font-family: HelveticaNeue;
		font-size: 22px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #0b0b0b;
		text-decoration: underline;
	}

	/* section5 - Schedule info. */

	.mobile-schedule.open {
		visibility: visible;
		-webkit-transform: translateX(-80%);
		transform: translateX(-80%);
	}

	.icon-close-schedule {
		top: 20px;
		left: 260px;
		padding-right: 19px;
		font-size: 25px;
	}

	.mobile-schedule-content {
		margin-top: 63px;
		padding: 0px 15px 0px 10px;
	}

	.mobile-schedule-content h2 {
		width: 100%;
		margin-bottom: 13px;
		font-size: 22px;
	}

	.mobile-schedule-content p {
		width: 100%;
		margin-bottom: 28px;
		font-size: 18px;
	}

	.schedule-detail {
		margin-top: 16px;
		padding: 0px 89px 0px 10px;
	}

	#mobileSchedule .download-link {
		top: 27px;
		left: 20px;
	}

	/* section6 - Reference */
	#section6 {
		margin-top: 77px;
	}

	#section6 h3 {
		margin-left: -20px;
		font-size: 18px;
		text-align: center;
	}

	#section6 .reference-person img {
		margin-left: 62px;
	}

	#section6 .reference-person p {
		top: 76px;
		left: 156px;
		width: 118.6px;
		height: 60px;
	}

	/* Content - Form */
	#section7 {
		margin-top: 44px;
	}

	#section7 .form-header {
		margin-left: 15px;
	}

	#section7 .form-process {
		margin-top: 20px;
		margin-bottom: 40px;
		margin-left: 15px;
	}

	#section7 .form-process span {
		font-size: 12px;
	}

	#section7 #form-1,
	#section7 #form-2,
	#section7 #form-3,
	#section7 #form-4 {
		margin-bottom: 15px;
	}

	#section7 #form-5 .submit {
		text-align: center;
	}

	/* Content - Sponsors */
	#section8 {
		margin-top: 73px;
		margin-bottom: 30px;
	}

	#section8 h2 {
		text-align: left;
		font-size: 40px;
	}

	#section8 p {
		text-align: left;
		font-size: 16px;
	}

	#section8 .row:first-child {
		margin-bottom: 20px;
	}

	#section8 .row:nth-child(2) .col-12:first-child {
		margin-bottom: 20px;
	}

}