html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
}

@media screen and (min-width:768px) {
  .mobile-header {
    display: none
  }
}

@media screen and (max-width: 767px) {
  .offcanvas-collapse {
    position: fixed;
    top: 0px;
    /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #f6f6f6;
    box-shadow: -5px 2px 12px 0 rgba(0, 0, 0, 0.1);
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }

  .offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-85%);
    transform: translateX(-85%);
  }

  .desktop-header {
    display: none;
  }

  .icon-open {
    margin-right: 22px;
    font-size: 25px;
  }

  .icon-close {
    text-align: right;
    margin-right: 75px;
    font-size: 25px;
    font-weight: bold;
  }

  .mobile-header-content {
    margin-top: 50px;
    margin-bottom: 25px
  }

  .mobile-header-content a {
    border-bottom: #000000 2px solid;
    text-decoration: none;
    font-family: HelveticaNeue;
    font-size: 34px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    height: 40px;
    line-height: 40px;
    letter-spacing: normal;
    color: #0b0b0b;
  }

  /* opportunity */
  #section1 h2 {
    width: 282px;
    height: 120px;
    font-family: HelveticaNeue;
    font-size: 34px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }

}